@import "@styles/animations.css";

.btn-outline {
    padding: 0.5rem 1rem;
    border: 1px solid #2563eb;
    background: white;
    color: #2563eb;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
    text-decoration: none;
    text-align: center;
  }
  

  
  .btn-filled {
    padding: 0.5rem 1rem;
    border: 1px solid #2563eb;
    background-color: #2563eb;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
    text-decoration: none;
    text-align: center;
  }
  
  .btn-filled:hover,
  .btn-outline:hover{

    animation: breath 1.3s ease-in-out infinite;

  }
  
