---
import "./Products.css";
import Card from "@ui/Card/Card.astro";
---
<section id="Products" class="section">
<div class="Products">
  <div class="Products-header">
    <h2>Featured Products</h2>
    <p>
      Expand your skills with our industry-leading courses taught by experienced professionals.
    </p>
    </div>

    <div class="Products-Cards">
      <Card
      image="/assets/img/test.avif"
      title="MCC RoboArm X1"
      description="Intelligent software solutions built with advanced algorithms."
      button = "Learn More"
    />
    <Card
    image="/assets/img/coding2.avif"
    title="AI Vision System"
    description="Computer vision system capable of real-time object detection and classification."
    button = "Learn More"
  />
  <Card
  image="/assets/img/hardware.avif"
  title="MicroController 5000"
  description="High-performance microcontroller ideal for IoT applications and embedded systems."
  button = "Learn More"
/>
  </div>


</div>
</section>