

.course-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-auto-rows: auto;
}





/* Force 2 max per row */
/* @media (min-width: 768px) {
  .course-grid {
    grid-template-columns: repeat(2, 1fr);
  }
} */

