@keyframes breath {
    0%, 100%   { transform: scale(1);     }
    50%        { transform: scale(1.1);  }
  }
  @keyframes enter-from-left {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes wave {
    0%   { transform: scale(1); }
    25%  { transform: scale(1.05); }
    50%  { transform: scale(1); }
    100% { transform: scale(1); }
  }
  @keyframes pop-up {
    0%   { transform: scale(1); opacity: 1; }
    30%  { transform: scale(1.1); opacity: 1; }
    60%  { transform: scale(1); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
  }
  