
html {
    scroll-behavior: smooth;
    color: #7c88a3; /* ✅ Global text color */
  
  }
  
  body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    background-color: white;
    line-height: 1.6;
  
  }

  html, body {
    font-family: ui-sans-serif, system-ui, sans-serif,
                 "Apple Color Emoji", "Segoe UI Emoji",
                 "Segoe UI Symbol", "Noto Color Emoji";
    font-style:normal;
    font-weight: 400;
    color: rgba(30, 58, 138, 0.7);
    
    
    
  }

  .section {
    width: 100%; /* 🔥 each section full width */
    padding: 6rem 2rem;
    /* border-bottom: 1px solid black; */
    text-align: center;
    background-color: white;
  }
  
  .section-content {
    max-width: 1200px; /* 🔥 content centered and limited */
    margin: 0 auto;
  }
  
  
  .section:nth-child(even) {
    background-color: rgb(244, 249, 255); /* Light blue */
  }
  
  .section:nth-child(odd) {
    background-color:white /* Stronger blue */
  }
  
  