---
import SiteSections from "@modules";
import "@styles/index.css"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MCC</title>
    <meta
      name="description"
      content="Welcome to the future. Building something amazing."
    />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    
    <header>
      <SiteSections.Navbar />
    </header>

    <main>
      <SiteSections.About />
      <SiteSections.Services />
      <SiteSections.Portfolio />
      <SiteSections.Courses />
      <SiteSections.Products />
      <SiteSections.PreFooter />
    </main>

    <footer class="footer" style="text-align: center;">
      <p>
        © 2025 MC<sup>2</sup> (Microelectronic Corporations). All rights reserved.
      </p>
    </footer>

    <script type="module" src="/scripts/navbar.js"></script>
  </body>
</html>
