---
import SiteSections from "@modules";
import "@styles/index.css"
import ProSidebar from "D:/projects/mcc/website/mcc/src/components/modules/SideBar/SideBar.jsx";



---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MccRobotics</title>
    <meta
      name="description"
      content="Welcome to the future. Building something amazing."
    />
    <link rel="icon" href="/assets/img/Micon2.png" type="image/png" sizes="1x3">
    

    

  </head>

  <body>
    
    <header>
      <SiteSections.Navbar />
    </header>

    <main>
      

      <SiteSections.About />
      <SiteSections.Services />
      <SiteSections.Portfolio />
      <SiteSections.Courses />
      <SiteSections.Products />
      <SiteSections.PreFooter />
      <!-- <ProSidebar /> -->
      <ProSidebar client:load />

    </main>

    <footer class="footer" style="text-align: center;">
      <p>
        © 2025 MC<sup>2</sup> (Microelectronic Corporations). All rights reserved.
      </p>
    </footer>

    <script type="module" src="/scripts/navbar.js"></script>
  </body>
</html>
