---
import "../../styles/components/ServicesComponents/Services.css";
import Card_Element from '../AboutComponents/Card_Element.astro';
---
<section id="Services" class="section">
<div class="services-header">
  <h2>Our Services <br /> </h2>
  <p>
    Discover how our technological expertise can drive innovation and efficiency in your business operations.
  </p>
  </div>

  
  <div class="services-Cards">
      <Card_Element
      icon="/assets/img/robots.svg"
      title="AI Solutions"
      description="Intelligent software solutions built with advanced algorithms."
    />
    <Card_Element
    icon="/assets/img/robots.svg"
    title="AI Solutions"
    description="Intelligent software solutions built with advanced algorithms."
  />
  <Card_Element
  icon="/assets/img/robots.svg"
  title="AI Solutions"
  description="Intelligent software solutions built with advanced algorithms."
/>
  <Card_Element
  icon="/assets/img/robots.svg"
  title="AI Solutions"
  description="Intelligent software solutions built with advanced algorithms."
/>
<Card_Element
icon="/assets/img/robots.svg"
title="AI Solutions"
description="Intelligent software solutions built with advanced algorithms."
/>


        
  </div>
</section>