---
import "../../styles/components/AboutComponents/About.css";
import Card_Element from './Card_Element.astro';


---

<section id="About" class="section">
  <div class="About-header">
    <h1>Powering The Future With <br>  <span>MC<sup>2</sup>  </span>  Technology</h1>
    <p>
      Pioneering advancements in robotics and artificial intelligence to solve
      tomorrow's <br> challenges today.
    </p>
    </div>

    <div class="About-buttons">
      
        <button class="contact-button">Get in Touch</button>
        <button class="opposite-button">Learn about us</button>
      
      <div></div>
    </div>

    <div class="About-Cards">
      <Card_Element
      icon="/assets/img/aiBrain.svg"
      title="AI Solutions"
      description="Intelligent software solutions built with advanced algorithms"
    />
    <Card_Element
    icon="/assets/img/robot2.svg"
    title="Advanced Robotics"
    description="Cutting-edge robotic systems for industrial automation"
  />
  <Card_Element
  icon="/assets/img/consult1.svg"
  title="Expert Consultation"
  description="Strategic technology guidance from industry experts"
/>
        
        
  </div>
</section>
