.Card {
  background-color: white;
  border-radius: 0.75rem;                         /* rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);        /* subtle drop-shadow */
  padding: 1.5rem;   
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.Card.no-padding {
  padding: 0 !important;
}


/* Lift on hover */
.Card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

/* Icon wrapper */
.Card .icon-circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #e0f2fe;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.Card .icon-circle img {
  width: 38px;
  height: 38px;
}

/* Title */
.Card .title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #213a79;
  
}

.description {

  font-size: 0.9rem;
  line-height: 1.4;
}

.image img {
  width: 100%;     /* or whatever fits your design */
  height: auto;     /* maintains aspect ratio */
  object-fit: contain;
}

.btn-filled{
  margin-bottom: 1rem ;
}