---


import "../../styles/components/PreFooterComponent/PreFooter.css";


---
<section id="PreFooter" class="section">
<div class="PreFooter">
    <div class="pf-col logo-col">
      <div class="pf-logo">MC<sup>2</sup></div>
      <p>Microelectronic Corporations –  
         Pioneering the future with innovative robotics and AI solutions.</p>
         <div class="pf-social">
            <a href="https://www.instagram.com/mccrobotics?igsh=bXgzazY4ajBkbTA1" class="social-icon" aria-label="Twitter">
              <img src="/assets/img/instagram.svg" alt="" />
            </a>
            <a href="https://www.linkedin.com/company/mcc-robotics/" class="social-icon" aria-label="LinkedIn">
              <img src="/assets/img/linkedin.svg" alt="" />
            </a>
          </div>
    </div>
  
    <div class="pf-col">
      <h4>Services</h4>
      <ul>
        <li><a href="#">Robotics Engineering</a></li>
        <li><a href="#">AI Development</a></li>
        <li><a href="#">Technical Training</a></li>
        <li><a href="#">Hardware Products</a></li>
        <li><a href="#">Consultation Services</a></li>
      </ul>
    </div>
  
    <div class="pf-col">
      <h4>Company</h4>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Case Studies</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  
    <div class="pf-col">
      <h4>Resources</h4>
      <ul>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Support Center</a></li>
        <li><a href="#">Technical Papers</a></li>
        <!-- <li><a href="#">Privacy Policy</a></li> -->
        <li><a href="#">Terms of Service</a></li>
      </ul>
    </div>
  </div>
</section>